.div-one {
	background-color: black;
	height: 20%;
	
}

.div-two {
  background-color: white;
  height: 70%;
  
  %;
  
}

.side-1 {
	background-color: gray;
	height: 783px;
	width: 150px;
	float: left;
}

.side-2 {
	background-color: gray;
    height: 783px;
	width: 150px;
	float: right;
  
  
}
.div-three {
	background-color: black;
	height: 10%;
	

}

